[theme="dark"] {
	--background: #303331;
	--font: #ffffff;
	--wah-logo: "/panwah/img/wah-logo-text-dark.svg"
}

[theme="light"] {
	--background: #ffffff;
	--font: #303331;
	--wah-logo: "/panwah/img/wah-logo-text.svg"
}

a {
	text-decoration: none;
	color: var(--font);
}

body {
	background-color: var(--background);
	color: var(--font);
}

div.panwah img {
	src: var(--wah-logo);
}