[theme="dark"] {
	--background: #303331;
	--font: #ffffff;
}

[theme="light"] {
	--background: #ffffff;
	--font: #303331;
}

a {
	text-decoration: none;
	color: var(--font);
}

body {
	background-color: var(--background);
	color: var(--font);
}